body, html {
    overflow-y: hidden;
}

.signin-background {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/images/background.jpg'); 
    background-position: left center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.signin-box {
    width: 21vw;
    min-width: 400px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh 0;
    justify-content: center;

    .site-logo {
        width: 45%;
        max-width: 500px;
        margin-bottom: 2vh;
    }

    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 1vh;

        input[type="email"], input[type="password"] {
            padding: 1.5vh; 
            width: 90%; 
            border: none; // 태두리 제거
            border-radius: 5px;
            box-shadow: none; // 안쪽으로 파인 효과 제거
            background-color: #fff; // 배경색 설정
            color: #000; // 텍스트 색상 설정
            &:focus {
                outline: none; // 돋보이는 효과 제거
                border: none; // 포커스 시 태두리 제거
            }
        }

        button {
            border-radius: 100px;
            background-color: rgba(0, 0, 0, 0.68);
            color: white;
            padding: 1.5vh 0;
        }
    }

    .signup-link {
        margin-top: 2vh;
        color: white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-text {
    position: absolute;
    bottom: 2vh;
    left: 1vw;
    font-size: 0.6vw;
    max-font-size: 5px; // 텍스트 최대 크기 제한

    span {
        cursor: pointer;
        color: #ffffff;
        &:hover {
            text-decoration: underline;
        }
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 50vh;
    min-width: 380px; // 모달창의 최소 너비
    min-height: 100px;
    background-color: #fff;
    padding: 2vw; // 비율에 따라 패딩 변경
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    h2 {
        font-size: clamp(10px, 1.5vw, 18px); // 최소, 기본, 최대 폰트 크기
        margin-bottom: 3vh;
    }

    hr {
        margin: 1vh 0;
    }

    p {
        margin-bottom: 2vh;
        font-size: clamp(8px, 1.2vw, 16px); // 최소, 기본, 최대 폰트 크기
    }

    button {
        cursor: pointer;
        padding: 1.5vh 0;
        background: none; 
        border: none; 
        color: #000;
        position: absolute; 
        top: 1.7vw; // 버튼의 상단 위치를 비율에 맞게 조절
        right: 2vw; // 버튼의 우측 위치를 비율에 맞게 조절
        font-size: clamp(15px, 0.8vw, 35px); // 최소, 기본, 최대 폰트 크기
        &:focus {
            outline: none;
        }
    }
}
